{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}



        <div class="section white center">
            <div class="content">

            <h3>Renzo Sartore   </h3>
            <h4>Curriculum Vitae</h4>
                <img class="materialboxed" width="300" src="{% static 'images/steve.png' %}">

            <table id="personal" border="0" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td class="left" align="right" valign="top">&nbsp;</td>
                    <td class="sep">&nbsp;</td>
                    <td class="right" align="left" valign="top"><h3>Informacion personal</h3></td>
                    </tr>
                    <tr>
                        <td class="left" align="right" valign="top"><h4>Direccion:</h4></td>
                        <td class="sep">&nbsp;</td>
                        <td class="right" align="left" valign="top"><p>Calle Secreta 9999, B° Oculto, M0222 , Los Angeles, Rusia.</p></td>
                    </tr>
                    <tr>
                        <td class="left" align="right" valign="top"><h4>Telefono:</h4></td>
                        <td class="sep">&nbsp;</td>
                        <td class="right" align="left" valign="top"><p>+54 261 4814475</p></td>
                    </tr>

                    <tr>
                        <td class="left" align="right" valign="top"><h4>Telefono movil:</h4></td>
                        <td class="sep">&nbsp;</td>
                        <td class="right" align="left" valign="top"><p>+54 9 261 8822236</p></td>
                    </tr>

                    <tr>
                        <td class="left" align="right" valign="top"><h4>Correo electronico:</h4></td>
                        <td class="sep">&nbsp;</td>
                        <td class="right" align="left" valign="top"><p>correofalso@somemail.com</p></td>
                    </tr>

                    <tr>
                        <td class="left" align="right" valign="top"><h4>Nacionalidad:</h4></td>
                        <td class="sep">&nbsp;</td>
                        <td class="right" align="left" valign="top"><p>Argentina</p></td>
                    </tr>

                    <tr>
                        <td class="left" align="right" valign="top"><h4>Fecha de nacimiento:</h4></td>
                        <td class="sep">&nbsp;</td>
                        <td class="right" align="left" valign="top"><p>23 de julio de 1986</p></td>
                    </tr>

                    <tr>
                        <td class="left" align="right" valign="top"><h4>Documento de identidad:</h4></td>
                        <td class="sep">&nbsp;</td>
                        <td class="right" align="left" valign="top"><p>DNI – 31.131.931</p></td>
                    </tr>

                    <tr>
                        <td class="left" align="right" valign="top"><h4> Sexo:</h4></td>
                        <td class="sep">&nbsp;</td>
                        <td class="right" align="left" valign="top"><p>Masculino</p></td>
                    </tr>
                </tbody></table>



        </div>
        
    </div>

{% endblock %}
